.base {
  padding: 16px;
  color: $very-dark-cyan;
  background-color: $active-color;
  border: none;
  outline: none;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 14px;
  cursor: pointer;
}
