.card {
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 16px;
    padding: 32px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    


}

.tipsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;

    & *{
        width: 84px;
    }
}