@import "../../styles/_colors";

.inputWrapper {
    position: relative;
}

.icon {
    position: absolute;
    top: 24px;
    left: 6px;
}

.input {
    text-align: right;
    color: $primary;


    // NOTE: To hide arrows in the input
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}